{% extends 'base.html' %}

{% block title %} | 个人查询清单{% endblock %}

{% block content %}

<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4">个人查询清单</h1>
                <p class="lead">查看您曾经联系过的物业</p>
            </div>
        </div>
    </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'pages:index' %}">
                        <i class="fas fa-home"></i> 首页</a>
                </li>
                <li class="breadcrumb-item active">个人查询清单</li>
            </ol>
        </nav>
    </div>
</section>

<!-- Alerts -->
{% include 'partials/_alerts.html' %}

<section id="dashboard" class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>欢迎 {{ user.username }}</h2>
                {% if contacts %}
                <p>请查看您的邮件联系历史记录</p>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">房产标题</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for contact in contacts %}
                    <tr>
                        <td>{{ contact.id }}</td>
                        <td>{{ contact.listing }}</td>
                        <td>
                            <a class="btn btn-light" href="{% url 'listings:listing' contact.listing_id %}">
                                查看</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>您尚未邮件联系过任何物业</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
